In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 40)
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
df = pd.read_csv('dataApt.csv', encoding='1251')
df.head(2)

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,DR_Suppl,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
0,2022-08-11,10:15:35,2173,2004598,2,22577,Розничная реализация,18,45399,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,Катрен г.Химки,Д-р Редди с Лабораторис Лтд / Dr.REDDY's,1.00,41.08,51.00,12.00,925.00,200000000492.00,205,1,1.00
1,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,261519,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,Катрен г.Химки,ФЛОРА КАВКАЗА ОАО,1.00,18.61,31.00,3.00,9.00,200010010204.00,205,1,1.00

**One-dimensional ABC-analysis:**

In [4]:
groupped_df = df.groupby('DR_NDrugs').agg({'DR_Kol': sum})
groupped_df = (groupped_df['DR_Kol'] / sum(groupped_df['DR_Kol'])).sort_values(ascending=False)
groupped_df = groupped_df.cumsum().reset_index()
groupped_df['abc'] = np.where(groupped_df['DR_Kol'] < 0.8, 'A', np.where(groupped_df['DR_Kol'] < 0.95, 'B', 'C'))
groupped_df

                                              DR_NDrugs  DR_Kol abc
0                                                 ПАКЕТ    0.03   A
1     ЦЕФТРИАКСОН 1Г. №1 ПОР. Д/Р-РА Д/В/В,В/М ФЛ. /...    0.04   A
2      НАФТИЗИН 0,1% 15МЛ. НАЗАЛ.КАПЛИ ФЛ./КАП. /ЛЕККО/    0.05   A
3           ЛЕЙКОПЛАСТЫРЬ БАКТЕР. 2,5Х7,2 №1 /ВЕРОФАРМ/    0.06   A
4     СНУП 0,1% 90МКГ/ДОЗА 15МЛ. НАЗАЛ.СПРЕЙ ФЛ. /ШТ...    0.07   A
...                                                 ...     ...  ..
1871  НАТРИЯ ХЛОРИД 0,9% 400МЛ. №16 Р-Р Д/ИНФ. КОНТ....    1.00   C
1872  СФМ ШПРИЦ 2МЛ. 3-Х КОМП. 0,63Х32ММ 23G №100 [SFM]    1.00   C
1873   СФМ ШПРИЦ 50МЛ. 3-Х КОМП. 1,2X40ММ 18G №25 [SFM]    1.00   C
1874  ДЕРМАГРИП ХАЙ РИСК ПЕРЧАТКИ ЛАТ. СМОТР. Н/СТЕР...    1.00   C
1875  СФМ ПЕРЧАТКИ СМОТР. Н/СТЕР. ЛАТ. ТЕКСТУРИР. Н/...    1.00   C

[1876 rows x 3 columns]

**Multidimensional ABC-analysis:**

In [5]:
groupped_df = df.groupby('DR_NDrugs').agg({'DR_Kol': sum, 'DR_CRoz': sum})
groupped_df['rel_kol'] = groupped_df['DR_Kol'] / sum(groupped_df['DR_Kol'])
groupped_df = groupped_df.sort_values('rel_kol', ascending=False)
groupped_df['cumsum_kol'] = groupped_df['rel_kol'].cumsum()
groupped_df['abc_kol'] = np.where(groupped_df['cumsum_kol'] < 0.8, 'A', np.where(groupped_df['cumsum_kol'] < 0.95, 'B', 'C'))
groupped_df['rel_roz'] = groupped_df['DR_CRoz'] / sum(groupped_df['DR_CRoz'])
groupped_df = groupped_df.sort_values('rel_roz', ascending=False)
groupped_df['cumsum_roz'] = groupped_df['rel_roz'].cumsum()
groupped_df['abc_roz'] = np.where(groupped_df['cumsum_roz'] < 0.8, 'A', np.where(groupped_df['cumsum_roz'] < 0.95, 'B', 'C'))
groupped_df[['DR_CRoz', 'DR_Kol', 'abc_kol', 'abc_roz']].reset_index().sort_values('DR_CRoz', ascending=False)

,DR_NDrugs,DR_CRoz,DR_Kol,abc_kol,abc_roz
0,"ТЕРАФЛЮ ЛИМОН ОТ ГРИППА И ПРОСТУДЫ 22,1Г. №14 ...",15638.00,7.00,A,A
1,НИМЕСИЛ 100МГ. 2Г. №30 ГРАН. Д/СУСП. Д/ПРИЕМА ...,14445.00,2.80,A,A
2,ИНГАВИРИН 90МГ. №10 КАПС. /ВАЛЕНТА/,13750.00,18.00,A,A
3,ХАРТМАНН БРАНОЛИНД H ПОВЯЗКА СТЕР. 10Х20СМ. №3...,12908.00,0.17,C,A
4,"ЭЛИКВИС 2,5МГ. №60 ТАБ. П/П/О /ПФАЙЗЕР/БРИСТОЛ...",12731.00,5.00,A,A
...,...,...,...,...,...
1871,БАХИЛЫ №10 (5ПАР),10.00,1.00,A,C
1872,КОНТЕЙНЕР Д/СБОРА БИОМАТЕРИАЛА 60МЛ. +ШПАТЕЛЬ ...,10.00,1.00,B,C
1873,АСКОРБИНОВАЯ К-ТА 25МГ. №10 ТАБ. КРУТКА САХ. /...,9.00,7.00,A,C
1874,КЛИНСА БАХИЛЫ СТАНДАРТ №2 (1ПАРА),7.00,2.00,A,C
1875,"Карта LOYALITY 0,01Р",0.34,34.00,A,C

**Automated ABC-analysis:**

In [6]:
def perform_abc(df, index):
    cols = list(df.columns)
    cols.remove(index)
    groupped_df = df.groupby(index).agg({col: sum for col in cols})
    for col in cols:
        groupped_df[f'rel_{col}'] = groupped_df[col] / sum(groupped_df[col])
        groupped_df = groupped_df.sort_values(f'rel_{col}', ascending=False)
        groupped_df[f'cumsum_{col}'] = groupped_df[f'rel_{col}'].cumsum()
        groupped_df[f'abc_{col}'] = np.where(groupped_df[f'cumsum_{col}'] < 0.8, 'A', np.where(groupped_df[f'cumsum_{col}'] < 0.95, 'B', 'C'))
    return groupped_df[cols + [f'abc_{col}' for col in cols]]

In [7]:
df1 = df[['DR_NDrugs', 'DR_Kol', 'DR_CRoz']]
df1.columns

Index(['DR_NDrugs', 'DR_Kol', 'DR_CRoz'], dtype='object')

In [8]:
perform_abc(df1, index='DR_NDrugs')

,DR_Kol,DR_CRoz,abc_DR_Kol,abc_DR_CRoz
DR_NDrugs,,,,
"ТЕРАФЛЮ ЛИМОН ОТ ГРИППА И ПРОСТУДЫ 22,1Г. №14 ПОР. Д/Р-РА Д/ПРИЕМА ВНУТРЬ ПАК.",7.00,15638.00,A,A
НИМЕСИЛ 100МГ. 2Г. №30 ГРАН. Д/СУСП. Д/ПРИЕМА ВНУТРЬ ПАК. /ГУИДОТТИ/МЕНАРИНИ/,2.80,14445.00,A,A
ИНГАВИРИН 90МГ. №10 КАПС. /ВАЛЕНТА/,18.00,13750.00,A,A
ХАРТМАНН БРАНОЛИНД H ПОВЯЗКА СТЕР. 10Х20СМ. №30 ПЕРУАН.БАЛЬЗАМ /АРТ.4923462/ [BRANOLIND],0.17,12908.00,C,A
"ЭЛИКВИС 2,5МГ. №60 ТАБ. П/П/О /ПФАЙЗЕР/БРИСТОЛ-МАЙЕРС/",5.00,12731.00,A,A
...,...,...,...,...
БАХИЛЫ №10 (5ПАР),1.00,10.00,A,C
КОНТЕЙНЕР Д/СБОРА БИОМАТЕРИАЛА 60МЛ. +ШПАТЕЛЬ СТЕР. И/У (БАНКА),1.00,10.00,B,C
АСКОРБИНОВАЯ К-ТА 25МГ. №10 ТАБ. КРУТКА САХ. /АСКОПРОМ/,7.00,9.00,A,C
КЛИНСА БАХИЛЫ СТАНДАРТ №2 (1ПАРА),2.00,7.00,A,C
"Карта LOYALITY 0,01Р",34.00,0.34,A,C

**Sales dynamics:**

In [4]:
df = pd.read_csv('dataAptSecond.csv', encoding='1251')
df.head(2)

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,DR_Suppl,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
0,2022-08-01,08:06:18,1272,13002561,13,22589,Розничная реализация,18,144734,ГАСТАЛ №12 ТАБ. Д/РАСС.,Пульс,TEVA Pharvaceutical Industries Ltd,1.00,196.71,270.00,0.00,NaN,NaN,29,1,1.00
1,2022-08-01,08:38:53,1273,13002561,13,22589,Розничная реализация,15,69661,"ТОБРОПТ 0,3% 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /РОМФАРМ/",Пульс,РОМФАРМ КОМПАНИ ( ROMPHARM ),1.00,106.21,127.00,6.00,9.00,200010004357.00,29,1,1.00

In [12]:
df.DR_Dat.unique()

array(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
       '2022-08-05'], dtype=object)

In [5]:
df = df.groupby('DR_Dat').apply(lambda x: pd.Series({'revenue': sum(x['DR_Kol']*x['DR_CRoz'] - x['DR_SDisc'])})).reset_index()
df

       DR_Dat  revenue
0  2022-08-01 84681.52
1  2022-08-02 71389.37
2  2022-08-03 78050.82
3  2022-08-04 59187.36
4  2022-08-05 56458.81

Counted sales dinamics using 'rolling' and lamda-function:

In [ ]:
df['revenue_d'] = df['revenue'].rolling(2).apply(lambda x: (x.iloc[1] - x.iloc[0])/x.iloc[0])
df

       DR_Dat  revenue  revenue_d
0  2022-08-01 84681.52        NaN
1  2022-08-02 71389.37      -0.16
2  2022-08-03 78050.82       0.09
3  2022-08-04 59187.36      -0.24
4  2022-08-05 56458.81      -0.05

Counted sales dinamics using 'shift' and ordinary expression:

In [21]:
df['revenue_shifted'] = df['revenue'].shift(1)
df['revenue_d2'] = (df['revenue'] - df['revenue_shifted']) / df['revenue_shifted']
df

       DR_Dat  revenue  revenue_shifted  revenue_d2
0  2022-08-01 84681.52              NaN         NaN
1  2022-08-02 71389.37         84681.52       -0.16
2  2022-08-03 78050.82         71389.37        0.09
3  2022-08-04 59187.36         78050.82       -0.24
4  2022-08-05 56458.81         59187.36       -0.05

Counted sales dinamics using 'pct_change':

In [ ]:
df['revenue_d3'] = df['revenue'].pct_change(1)
df

       DR_Dat  revenue  revenue_d  revenue_shifted  revenue_d2  revenue_d3
0  2022-08-01 84681.52        NaN              NaN         NaN         NaN
1  2022-08-02 71389.37      -0.16         84681.52       -0.16       -0.16
2  2022-08-03 78050.82       0.09         71389.37        0.09        0.09
3  2022-08-04 59187.36      -0.24         78050.82       -0.24       -0.24
4  2022-08-05 56458.81      -0.05         59187.36       -0.05       -0.05

**XYZ-анализ:**

In [19]:
df = pd.read_csv('dataAptSecond.csv', encoding='1251')

In [20]:
df = df.groupby(['DR_Dat', 'DR_NDrugs']).agg({'DR_Kol': sum})
df1 = df.reset_index().groupby(['DR_NDrugs']).agg({'DR_Dat': 'count'})
df1 = df1.reset_index()
xyz_names = list(df1[df1['DR_Dat'] > 1]['DR_NDrugs'])
df = df.reset_index()
df = df[['DR_NDrugs','DR_Kol']]
df = df[df['DR_NDrugs'].isin(xyz_names)]
df = df.groupby(['DR_NDrugs']).apply(lambda x: x.std() / x.mean())
df['XYZ'] = np.where(df['DR_Kol'] < 0.1, 'X', np.where(df['DR_Kol'] < 0.25, 'Y', 'Z'))
df

                                                    DR_Kol XYZ
DR_NDrugs
L-ТИРОКСИН 50МКГ. №50 ТАБ. /БЕРЛИН ХЕМИ/              0.00   X
L-ТИРОКСИН 75МКГ. №100 ТАБ. /БЕРЛИН ХЕМИ/             0.47   Z
АЗАРГА 10МГ/МЛ.+5МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП.     0.00   X
АМОКСИЦИЛЛИН 500МГ. №16 КАПС. /ХЕМОФАРМ/              0.47   Z
АРБИДОЛ МАКСИМУМ 200МГ. №10 КАПС. /ОТИСИФАРМ/ФА...    0.43   Z
...                                                    ...  ..
ЭВО ПАНТЕНОЛ ПОМАДА ГИГИЕН. 2,8Г. [EVO] /АВАНТА/      0.47   Z
ЭЛИКВИС 5МГ. №60 ТАБ. П/П/О /ПФАЙЗЕР/БРИСТОЛ-МА...    0.00   X
ЭМОКСИПИН 10МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ. КРЫШ/КАП.     0.47   Z
ЭНАЛАПРИЛ 5МГ. №20 ТАБ. /ХЕМОФАРМ/                    0.47   Z
ЭСВИЦИН СР-ВО П/ОБЛЫСЕНИЯ ЛОСЬОН-ТОНИК 250МЛ. Ф...    0.29   Z

[182 rows x 2 columns]